@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@{
    ViewData["Title"] = "Plans";
}

<h1>Plans</h1>

<table class="table table-hover text-center" id="plans-matrix">
    <thead>
        <tr>
            <th></th>
            <th>
                <h2>Free</h2>

                @if (!ViewBag.HasSubscription)
                {
                    <div class="text-center">(Current)</div>
                }
            </th>
            <th>
                <h2>Standard</h2>

                @if (ViewBag.HasSubscription)
                {
                    <div>(Current)</div>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-left">
                <h3>Features</h3>
            </td>
        </tr>
        <tr>
            <td class="text-left">
                Coding Tools
            </td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td class="text-left">
                Matches Library
            </td>
            <td>5 matches</td>
            <td>Unlimited matches</td>
        </tr>
        <tr>
            <td class="text-left">
                Groups
            </td>
            <td>1 group</td>
            <td>Unlimited groups</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>Free</td>
            <td>
                <div>AU$8.00 / month (includes GST)</div>
                <div class="mt-2">
                    @if (ViewBag.HasSubscription)
                    {
                        <form asp-controller="Account" asp-action="CancelSubscription" method="post">
                            <input type="submit" class="btn btn-danger" value="Cancel Subscription" />
                        </form>
                    }
                    else
                    {
                        <button id="SubscribeButton" class="btn btn-primary">Subscribe</button>
                    }
                </div>
            </td>
        </tr>
    </tfoot>
</table>

@section scripts
{
    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function (event) {
           const stripe = Stripe('@Stripe.Value.PublicKey');

            const subscribeButton = document.getElementById('SubscribeButton');
            subscribeButton.addEventListener('click', () => {
                stripe.redirectToCheckout({
                  sessionId: '@ViewBag.CheckoutSessionId'
                }).then((result) => {
                  // If `redirectToCheckout` fails due to a browser or network
                  // error, display the localized error message to your customer
                  // using `result.error.message`.
                    console.error(result.error.message);
                });
            })
        });

    </script>
}
