@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@{
    ViewData["Title"] = "Checkout";
}

    <link rel="stylesheet" type="text/css" href="~/css/checkout.css" data-rel-css="" />

<section class="container checkout-form">

    <h2>Checkout</h2>

    <form>
        <fieldset>
            <legend>Pay with card</legend>


            <div class="container">
                <div id="card-element" class="card">
                    <!-- Elements will create input elements here -->
                </div>

                <button type="button" class="btn btn-success" id="subscribe-button">Pay</button>
            </div>
        </fieldset>

        <div class="error" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                <path class="base" fill="#000" d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z"></path>
                <path class="glyph" fill="#FFF" d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z"></path>
            </svg>
            <span class="message" id="card-errors"></span>
        </div>
    </form>


    <div class="success">
        <div class="icon">
            <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle class="border" cx="42" cy="42" r="40" stroke-linecap="round" stroke-width="4" stroke="#000" fill="none"></circle>
                <path class="checkmark" stroke-linecap="round" stroke-linejoin="round" d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338" stroke-width="4" stroke="#000" fill="none"></path>
            </svg>
        </div>
        <h3 class="title" data-tid="elements_examples.success.title">Payment successful</h3>
        <p class="message"><span data-tid="elements_examples.success.message">Thanks for purchasing a subscription.</span></p>
    </div>



</section>


@section scripts
{
    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function (event) {
            const stripe = Stripe('@Stripe.Value.PublicKey');
            const elements = stripe.elements({
                fonts: [
                    {
                        cssSrc: "https://rsms.me/inter/inter-ui.css"
                    }
                ],
                locale: 'auto'
            });

            var style = {
                base: {
                    color: '#303238',
                    fontSize: '16px',
                    fontFamily: '"Open Sans", sans-serif',
                    fontSmoothing: 'antialiased',
                    '::placeholder': {
                        color: '#CFD7DF',
                    },
                },
                invalid: {
                    color: '#e5424d',
                    ':focus': {
                        color: '#303238',
                    },
                },
            };

            var card = elements.create("card", { style: style });
            card.mount("#card-element");

            card.addEventListener('change', ({ error }) => {
                const displayError = document.getElementById('card-errors');
                if (error) {
                    displayError.textContent = error.message;
                } else {
                    displayError.textContent = '';
                }
            });

            // AUS 4000 0582 6000 0005

            const subscribeButton = document.getElementById('subscribe-button');
            subscribeButton.addEventListener('click', async () => {
                const { paymentMethod, error } = await stripe.createPaymentMethod({
                    type: 'card',
                    card: card
                });

                try {
                    console.info('Attempting payment')
                    const response = await fetch('/account/do-checkout', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(paymentMethod)
                    });
                    const customer = response.json();
                    console.info(customer)
                } catch (error) {
                    console.error(error)
                }
            })



            @*const subscribeButton = document.getElementById('SubscribeButton');
            subscribeButton.addEventListener('click', () => {
                stripe.redirectToCheckout({
                  sessionId: '@ViewBag.CheckoutSessionId'
                }).then((result) => {
                  // If `redirectToCheckout` fails due to a browser or network
                  // error, display the localized error message to your customer
                  // using `result.error.message`.
                    console.error(result.error.message);
                });
            })*@
        });

    </script>
}