@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">

        <h2>Stripe Sample Application</h2>  

        <p>This is a sample application to show how to create a payment subscription flow using C# and ASP.NET Core with the Stripe API.</p>

        <p>To get started, create a Product and a Customer.  You will then be able to sign-up for a monthly subscription for the Product.</p>

        <p>Once you have a subscription, new Features will be available in the Application.</p>

        <p>You can cancel your subscription at any time.</p>

    </div>

