@model Stripe.Product

@{
    ViewData["Title"] = "Product Management";
}

    <div>

        <h2>Products</h2>

        <table class="table-sm">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>
                    @if (!ViewBag.HasSubscription)
                    {
                        <a asp-controller="Home" asp-action="Purchase" class="btn btn-success">Purchase</a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Subscription">Subscription</a>
                    }
                </td>
            </tr>
        </table>

    </div>