@using Microsoft.Extensions.Options
@inject  IOptions<StripeSettings> Stripe
@{
    ViewData["Title"] = "Home Page";
}

    <div>

        <h2>Subscriptions</h2>

        @if (!ViewBag.HasSubscription)
        {
            <p>You have no current subscriptions</p>

            <button id="SubscribeButton" class="btn btn-primary">Subscribe</button>
        }
        else
        {
            <table class="table-sm">
                <tr>
                    <th>Id</th>
                    <th>Customer</th>
                    <th></th>
                </tr>
                @foreach (var subscription in ViewBag.Subscriptions)
                {
                    <tr>
                        <td>@subscription.Id</td>
                        <td>@subscription.Customer</td>
                        <td>
                            <a asp-controller="Home" asp-action="Subscription">Manage Subscription</a>
                        </td>
                    </tr>
                }
            </table>

        }
    </div>

@section scripts
{
    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function (event) {
           const stripe = Stripe('@Stripe.Value.PublicKey');

            const subscribeButton = document.getElementById('SubscribeButton');
            subscribeButton.addEventListener('click', () => {
                stripe.redirectToCheckout({
                  sessionId: '@ViewBag.CheckoutSessionId'
                }).then((result) => {
                  // If `redirectToCheckout` fails due to a browser or network
                  // error, display the localized error message to your customer
                  // using `result.error.message`.
                    console.error(result.error.message);
                });
            })


           
            //subscribeButton.addEventListener('click', function(event) {
            //  event.preventDefault();

            //  stripe.createToken(card).then(function(result) {
            //    if (result.error) {
            //      // Inform the customer that there was an error.
            //      console.error(result.error.message);
            //    } else {
            //      // Send the token to your server.
            //      console.info(result.token);
            //    }
            //  });
            //});
        });

    </script>
}
