@model StripeSample.Handlers.HomePage.ViewModel
@using StripeSample.Controllers
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <h2>Stripe Sample Application</h2>

    <div class="text-center">
        @if (Model.HasSubscription)
        {

            <p class="my-5">Congratulations, you have access to our premium content!</p>
            <p>
                <i class="fa fa-crown fa-5x text-warning"></i>
            </p>

        }
        else
        {
            <p class="my-5">
                <a asp-controller="Account" asp-action="@nameof(AccountController.Index)">Subscribe</a> to gain access to our premium content!
            </p>
        }
    </div>

</div>
